{% extends 'include/userBase.html' %}
{% load static %}
{% block content %}
<style>
  /* Add the CSS for the thin scrollbar here */
  .payment-history::-webkit-scrollbar {
      width: 8px;
  }
  
  .payment-history::-webkit-scrollbar-track {
      background: #f1f1f1;
  }
  
  .payment-history::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
  }
  
  .payment-history::-webkit-scrollbar-thumb:hover {
      background: #555;
  }
  
  .payment-history {
      scrollbar-width: thin;
      scrollbar-color: #888 #f1f1f1;
  }
  </style>
  
<div style="display: flex; flex-direction: column; width: 100%;">
  <div class="main-nav d-flex align-items-center justify-content-between px-3 border-none">
    <h6>Good Morning</h6>
    <div class="">
          <i class="fa-solid fa-envelope mx-2"></i>
          <i class="fa-solid fa-bell mx-2"></i>
          <span>{{request.user.first_name}} {{request.user.last_name}}</span>
          {% if profile %}
          <img src="{{profile.image.url}}" class="mx-2" alt=""  width="40px" height="40px" style="border-radius: 50%;">
          {% else %}
          <img src="{% static './assets/images/user.jpg' %}" class="mx-2" alt=""  width="40px" height="40px" style="border-radius: 50%;">
          {% endif %}
    </div>
</div>
{% if messages %}
{% for message in messages %}
      {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <strong>Congratulation</strong> {{message}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
      {% else %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>Already Reserved</strong> Your  parking is already reserved.

                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
      {% endif %}
{% endfor %}
{% endif %}

<h2 style="color: rgb(134, 134, 134); font-family: poppins; font-weight: 600;" class="p-3">Payment History</h5>
  <div class="p-2 mx-4"> 
    {% if no_payments %}
          <p>No payment records found. Please make a payment to see your payment history.</p>
    {% else %}
    <div class="payment-history" style="max-height: 400px; overflow-y: auto;">
      {% for payment in payment_historys %}
        <div class="row m-0"> 
          <div class="col-md-7 col-12">
            <div class="row">
              <div class="col-12 mb-4"> 
                <div class="row box-right"> 
                  <div class="col-md-6 ps-0 ">
                    <p class="ps-3 textmuted fw-bold h6 mb-0">TOTAL PAID BIRR</p>
                    <p class="h1 fw-bold d-flex"> 
                      <span class="fas fa-dollar-sign textmuted pe-1 h6 align-text-top mt-1"></span>
                      {{payment.amount}} 
                    </p> 
                    <p class="ms-3 px-2 bg-green">+10% since last month</p> 
                    <p class="ps-3 textmuted h6 mb-0 py-3">TRANSACTION REFERENCE</p>
                    <p class="h4 fw-bold d-flex"> 
                      <i class="fa-solid fa-key fs-6  pe-1"></i>
                      {{payment.tx_ref}}
                    </p> 
                  </div> 
                  <div class="col-md-5" style="position: relative;"> 
                    <i class="fa-solid fa-print fs-5" style="position: absolute; right: 0;" onclick="printPaymentDetails()"></i>
                    <p class="textmuted h8">Payment Status</p> 
                    <p class="fw-bold h7">{{payment.status}}</p> 
                    <p class="textmuted h8">Request ID</p> 
                    <p class="fw-bold h7">{{payment.request_id}}</p> 
                    <p class="textmuted h8">Payment Date</p> 
                    <p class="fw-bold h7">{{payment.created_at}}</p> 
                  </div> 
                </div> 
              </div> 
            </div> 
          </div> 
          <div class="col-md-4 col-12 ps-md-5 p-0 "> 
            <div class="box-left"> 
              <div class="d-flex justify-content-between"> 
                <div class="">
                  <p class="textmuted h8">Parking</p> 
                  <p class="fw-bold h7">{{payment.request_id.parking.name}}</p> 
                  <p class="textmuted h8">Start  Time</p> 
                  <p class="fw-bold h7">{{payment.request_id.start_time}}</p> 
                  <p class="textmuted h8">End  Time</p> 
                  <p class="fw-bold h7">{{payment.request_id.end_time}}</p> 
                </div>
                <div class="mx-5">
                  <p class="textmuted h8">Slot</p> 
                  <p class="fw-bold h7">{{payment.request_id.slot}}</p> 
                  <p class="textmuted h8">Plate Number</p> 
                  <p class="fw-bold h7">{{payment.request_id.plate_number}}</p> 
                  <p class="textmuted h8">Request Type</p> 
                  <p class="fw-bold h7">{{payment.request_id.request_type}}</p> 
                </div>
              </div>
            </div> 
          </div> 
        </div> 
        <div class="horizontal-line"></div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
<script>
  function printPaymentDetails() {
    window.print();
  }
</script>

{% endblock %}