{% extends 'Subcity/include/SubcityBase.html' %} {% load static %} {% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
                  {% if messages %} {% for message in messages %} {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Congratulations!</strong>
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% elif message.tags == 'warning' %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Warning!</strong>
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% else %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Error!</strong>
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %} {% endfor %} {% endif %}
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Request List table</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Parking</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Location</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Woreda</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Approved</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Seen</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>

                {% for request in request_lists %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="{{request.parking.image1.url}}" class="avatar avatar-sm me-3" alt="user1">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{request.parking.name}}</h6>
                        <p class="text-xs text-secondary mb-0">{{request.parking.user.first_name}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{request.parking.subcity}}</p>
                    <p class="text-xs text-secondary mb-0"></p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="">{{request.parking.woreda}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{request.date}}</span>
                  </td>
                  <td class="align-middle text-center">
                    
                    {% if request.status %}
                    <span class="" style="color: green;"><i class="fa-solid fa-check"></i></span>
                    {% else %}
                    <span class="" style="color: red;"><i class="fa-solid fa-x"></i></span>
                    {% endif %}
                  </td>
                  <td class="align-middle text-center">
                    {% if request.is_read %}
                    <span class="" style="color: green;"><i class="fa-solid fa-check"></i></span>
                    {% else %}
                    <span class="" style="color: red;"><i class="fa-solid fa-x"></i></span>
                    {% endif %}
                  </td>
                  <td class="align-middle">
                    <a href="{% url 'subcity_request_detail' id=request.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                      Open
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}