{% extends 'include/ParkingBase.html' %} {% load static %} {% block content %}
<style>
  body{
    font-family: poppins;
    font-weight: 200;
  }
</style>
<div class="row m-2 gx-5">
  <!-- change password -->
   <form action="" method="POST">
    {% csrf_token %}
     <div class="col-12 col-lg-6">
       <div class="bg-secondary-soft px-4 py-5 rounded">
         <div class="row g-3">
           <h4 style="font-family: poppins; font-weight: 200;">Change Password</h4>
           <!-- Old password -->
           <div class="col-md-10">
             <label for="exampleInputPassword1" class="form-label">Old password *</label>
             <input type="password" class="form-control" id="exampleInputPassword1" name="oldPassword" placeholder="*******">
           </div>
           <!-- New password -->
           <div class="col-md-10">
             <label for="exampleInputPassword2" class="form-label">New password *</label>
             <input type="password" class="form-control" id="exampleInputPassword2" name="newPassword" placeholder="*******">
           </div>
           <!-- Confirm password -->
           <div class="col-md-10">
             <label for="exampleInputPassword3" class="form-label">Confirm Password *</label>
             <input type="password" class="form-control" id="exampleInputPassword3" name="confirmPassword" placeholder="*******">
           </div>
           <button class="btn btn-primary">Save</button>
         </div>
       </div>
     </div>
   </form>
</div> <!-- Row END -->
{% endblock %}